{% assign url = page.url|remove:'index.html' %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
				Kick Ass Dev
			</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
          aria-haspopup="true" aria-expanded="false">
            Level 
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">
                Beginner
              </a>
            </li>
            <li>
              <a href="#">
                Medium
              </a>
            </li>
            <li>
              <a href="#">
                Expert
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
          aria-haspopup="true" aria-expanded="false">
            Language 
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">
                Java
              </a>
            </li>
            <li>
              <a href="#">
                Javascript
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
          aria-haspopup="true" aria-expanded="false">
            Platform 
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">
                Web
              </a>
            </li>
            <li>
              <a href="#">
                Android
              </a>
            </li>
            <li>
              <a href="#">
                iOS
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            Tools
          </a>
        </li>
        <li>
          <a href="#">
            Random
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if url == "/about/" %} active {% endif %}">
					<a href="{{ site.baseurl }}/about">
						WTF?
					</a>
				</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>