$navbar-background-color: black;

.dropdown-menu {
	transform: scaleY(0);
	transition: transform 0.25s ease-out;
	transform-origin: top;
	display: block;
	background-color: $navbar-background-color;
	transition-delay: 0.3s;

	* {
		transition: opacity 0.25s ease-out;
		transition-delay: 0s;
		opacity: 0;
	}
}

.open {
	.dropdown-menu {
		transform: scaleY(1);
		transition-delay: 0s;

		* {
			opacity: 1;
			transition-delay: 0.3s;
		}

	}	
}
	