.special-link {
	height: 100%;
	font-size: inherit;
	display: inline-block;
}

.special-link:hover {
	transform: scale(1.2);
}

a:hover,
.special-link:hover {
	text-decoration: none;
}

a,
.special-link {
	transition: all 0.25s ease-out;
}


