$navbar-color: white;
$navbar-hover-color: #12bc25;
$navbar-background-color: black;

.navbar {
	background-color: $navbar-background-color !important;
}

.navbar-default {
	.navbar-nav > li > a,
	.navbar-nav.open > li > a {
		color: $navbar-color !important;
		background-color: $navbar-background-color !important;
		transition: all 0.25s ease-out;
	}

	.navbar-nav > li > a:hover {
		color: $navbar-hover-color !important;
	}

	.navbar-brand {
		color: $navbar-color;
	}

	.navbar-brand:hover,
	.navbar-brand a:hover {
		color: $navbar-hover-color;
	}

	.navbar-item {
		transition: all 0.25s ease-out;
	
		> a:after {
			content: " ";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			border-bottom: 3px solid $navbar-hover-color;
			transition: all 0.25s ease-out;
			transform-origin: center;
			transform: scaleX(0);
		}
	}

	.navbar-item:hover {

		> a:after {
			transform: scaleX(1);
		}
	}

	.navbar-item.open {
		a:hover,
		a:focus {
			background-color: $navbar-background-color !important;
			color: $navbar-hover-color !important;
		}

		.dropdown-menu,
		.dropdown-menu:hover,
		.dropdown-menu:focus,
		.dropdown-menu:active {
			background-color: $navbar-background-color !important;
			color: $navbar-color !important;

			li {
				a {
					color: $navbar-color !important;
				}
				a:hover {
					color: $navbar-hover-color !important;
				}
			}
		}
	}
}