
p {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}
}

.read-more {
	float: right;
	transition: all 0.25s ease-out;

	.read-more-arrow {
		display: none;
		opacity: 0;
		transition: all 0.25s ease-out;
	}

}

.read-more:hover {
	transform: translateX(-1em);
	
	.read-more-arrow {
		display: initial;
		opacity: 1;
		transition-delay: 10s;
	}
}



